#contact img {
    width: 1.95rem;
    height: 1.95rem;
    display: block;
    margin-right: 10px;
    border-radius: 4px;
}

#contact .initial-bar {
    position: fixed;
    top: 50%;
    font-size: 11px;
    line-height: 1.2;
    right: 2px;
    width: 10px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

#contact .initial-bar span {
    display: block;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
}