.van-field__label {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    width: 30%;
    margin-right: 12px;
    color: #646566;
    text-align: left;
    word-wrap: break-word;
    font-size: 0.92rem;
}

.van-address-item__edit {
    width: 0px;
    display: none;
}

.van-address-item__value {
    padding-right: 0px;
}

.van-address-item {
    padding: 2px;
    background-color: #fff;
    border-radius: 8px;
}

.van-address-list {
    box-sizing: border-box;
    height: 100%;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.van-address-list__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff;
    display: none;
}

.nut-checkboxgroup {
    padding: 10px 0;
    margin-left: 11px;
}

.nut-checkbox.nut-checkbox-size-base .nut-checkbox-label {
    font-size: 14px;
    margin-left: 5px;
}

.section-nowechat {
    text-align: center;
    font-size: 18px;
    padding-top: 28px;
}

.nut-uploader {
    background-image: linear-gradient(to right, #f96033, red);
    margin: 5px 10px;
    padding: 1px 20px;
    border-radius: 8px;
    color: #f0f0f0;
    font-size: 12px;
    height: 27px;
}

.van-cell-upload .van-cell__title>span {
    font-size: 14px;
}

.cardno-field-name .van-field__error-message {
    margin-top: 10px;
    margin-left: -112px;
    color: #ee0a24;
    font-size: 12px;
    text-align: left;
}
