#self .weui-cell__ft img {
    height: 25px;
    vertical-align: middle;
    margin-right: 10px
}

#self .weui-cell__ft img {
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #cecece;
    opacity: 0.75;
}

#self img.self-header {
    display: block;
    margin-right: 10px;
    border-radius: 4px;
    width: 60px;
    height: 60px
}

#self .self-nickname {
    font-size: 16px;
    margin-bottom: 5px
}

#self .self-wxid {
    font-size: 13px
}

.app-footer {
    display: block;
}
